.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}
button{
    height: 40px;
    width: 200px;
    border-radius: 5px;
    border: none;
}
#btn1{
    background-color: red;
}
#btn2{
    background-color:chocolate;
}
#btn3{
    background-color: blue;
}